<div class="container">
    <section id="content_body">
<div class="container">
    
    <div class="row" *ngFor="let bids of myData">
        <div class="col-md-12">
            <h3>&nbsp;&nbsp;&nbsp;<i class="fa fa-user fa-fw"></i>{{bids.company}}</h3>
            <span class="badge badge-primary">{{bids.status == 1 ? 'Active' : 'Inactive'}}</span>
        </div>
      <!-- left column -->
     <!--  <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-center">
          <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Upload a different photo...</h6>
          <input type="file" class="text-center center-block well well-sm">
        </div>
      </div> -->
      <!-- edit form column -->
      <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
        <div id="alertmsg" class="alert alert-info alert-dismissable">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-user"></i>
          <strong>Profile updated successfully.</strong>
        </div>
        <h3>Personal info</h3>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">Full name:</label>
            <div class="col-lg-8">
              <input id="fname" class="form-control" value="{{bids.fname}}" type="text" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" value="{{bids.email}}" type="email" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Address:</label>
            <div class="col-lg-8">
              <input id="address" class="form-control" value="{{bids.address}}" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Port:</label>
            <div class="col-lg-8">
              <input id="port" class="form-control" value="{{bids.port}}" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Country:</label>
            <div class="col-lg-8">
              <div class="ui-select">
                <select id="country" class="form-control" name="country" >
                    <option  [selected]="isSelected">{{bids.country}}</option>
                    <option *ngFor="let country of Countries">{{country.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">City:</label>
            <div class="col-md-8">
              <input id="city" class="form-control" value="{{bids.city}}" type="text" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Phone:</label>
            <div class="col-md-8">
              <input id="phone" class="form-control" value="{{bids.phone}}" type="number" >
            </div>
          </div>
        
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input id="savechanges" class="btn btn-primary" value="Save Changes" type="button" (click)="updateProfile()">
              <span></span>
              <input id="cancel" class="btn btn-default" value="Cancel" type="reset">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
    </section>
    </div>
