<div class="modal modal-warning fade" id="modal-warning">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Select Orders List</h4>
        </div>
        <div class="modal-body">
            <section class="content">
                <div class="row">
              
                  <div class="col-xs-12">
                      <div class="box box-default box-solid collapsed-box">
                          <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-search"></i> Search</h3>
              
                            <div class="box-tools pull-right">
                              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                              </button>
                            </div>
                            <!-- /.box-tools -->
                          </div>
                          <!-- /.box-header -->
                          <div class="box-body" style="display: none;">                  
                               
                               <div class="form-group col-xs-3">
                                  <input type="text" name="client" [(ngModel)] = "model.client" placeholder="User" class="form-control" />
                               </div>
                               <div class="form-group col-xs-3">
                                  <input type="text" name="dst" [(ngModel)] = "model.dst" placeholder="DST" class="form-control" />
                               </div>
                               <div class="form-group col-xs-3">
                                  <input type="text" name="auction" [(ngModel)] = "model.auction" placeholder="Auction" class="form-control" />
                               </div>
                               <div class="form-group col-xs-3">
                                  <input type="text" name="adate" [(ngModel)] = "model.adate" placeholder="Auction Date" class="form-control" />
                               </div>
                               <div class="form-group col-xs-3">
                                  <input type="text" name="pos" [(ngModel)] = "model.pos" placeholder="POS" class="form-control" />
                               </div>
                               <div class="form-group col-xs-3">
                                  <input type="text" name="lot" [(ngModel)] = "model.lot" placeholder="LOT" class="form-control" />
                               </div>
                               <div class="form-group col-xs-3">
                                  <input type="text" name="prefix" [(ngModel)] = "model.prefix" placeholder="Prefix" class="form-control" />
                               </div>                              
                               <div class="form-group col-xs-3">
                                  <input type="text" name="make" [(ngModel)] = "model.make" placeholder="Make" class="form-control" />
                               </div>
                               <div class="form-group col-xs-3">
                                  <input type="text" name="model" [(ngModel)] = "model.model" placeholder="Model" class="form-control" />
                               </div>                              
                               <div class="form-group col-xs-3">
                                  <input type="text" name="noplate" [(ngModel)] = "model.noplate" placeholder="No Plate" class="form-control" />
                               </div>                               
                               <div class="form-group col-xs-3">
                                  <input type="text" name="shaken" [(ngModel)] = "model.shaken" placeholder="Shaken" class="form-control" />
                               </div>
                               <div class="form-group col-xs-3">
                                  <input type="text" name="fudosha" [(ngModel)] = "model.fudosha" placeholder="Fudosha" class="form-control" />
                               </div>
                               <div class="form-group col-xs-3">
                                  <select class="form-control" id="orderstatus">
                                    <option value="0">Pending</option>
                                    <option value="1">Confirmed</option>
                                  </select>
                               </div>                                               
                          </div>
                          <!-- /.box-body -->
                          <div class="box-footer text-center">
                              <button class="btn btn-success" (click) = "SearchPurchased()">Search</button>
                              <button class="btn btn-danger" (click) = "ResetForm()">Reset</button>      
                            </div>
                        </div>
                  </div>
              
              
                  <div class="col-xs-12">
                    <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Purchased List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      
                      <table id="example1" class="table">
                        <thead>
                        <tr>
                          <th></th>
                          <th>S.NO</th>
                          <th>USER</th>
                          <th>DST</th>
                          <th>AUCTION</th>
                          <th>DATE</th>
                          <th>POS</th>          
                          <th>DAI</th>
                          <th>LOT</th>
                          <th>PREFIX</th>                         
                          <th>MAKE</th>
                          <th>MODEL</th>                          
                          <th>NO PLATE</th>                          
                          <th>SHAKEN</th>
                          <th>FUDOSHA</th> 
                          <th>Status</th>                         
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let p of purchased; let ind = index">
                          <td>
                            <label class="containerf" *ngIf="p.status == 0">
                              <input type="checkbox" class="checkmarkS" (change) = "SelectList($event,p.s_id)">
                              <span class="checkmark"></span>
                            </label>
                          </td>
                          <td>{{ind + 1}}</td>                         
                          <td>{{p.client}}</td>
                          <td>{{p.dst}}</td>
                          <td>{{p.auction}}</td>
                          <td>{{p.adate | slice:0:10}}</td>
                          <td>{{p.pos}}</td>
                          <td>{{p.dai}}</td>
                          <td>{{p.lot}}</td>
                          <td>{{p.prefix}}</td>                          
                          <td>{{p.make}}</td>
                          <td>{{p.model}}</td>                         
                          <td>{{p.noplate}}</td>                          
                          <td>{{p.shaken}}</td>
                          <td>{{p.fudosha}}</td>
                          <td>{{p.status == 1 ? 'Confirmed' : 'Pending'}}</td>                          
                        </tr>               
                        </tbody>       
                      </table>
                  
                    </div>
                    <!-- /.box-body -->
                  </div>
              <!-- /.box -->
              </div>
              </div>
              </section>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal" (click) = "AddOrder(0)">Apply</button>
            <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal modal-warning fade" id="modal-yard">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select Yard Vehicles</h4>
      </div>
      <div class="modal-body">
          <section class="content">
              <div class="row">
            
                <div class="col-xs-12" style="display: none;">
                    <div class="box box-default box-solid collapsed-box">
                        <div class="box-header with-border">
                          <h3 class="box-title"><i class="fa fa-search"></i> Search</h3>
            
                          <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                            </button>
                          </div>
                          <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="display: none;">                  
                             
                             <div class="form-group col-xs-3">
                                <input type="text" name="client" [(ngModel)] = "model.client" placeholder="User" class="form-control" />
                             </div>
                             <div class="form-group col-xs-3">
                                <input type="text" name="dst" [(ngModel)] = "model.dst" placeholder="DST" class="form-control" />
                             </div>
                             <div class="form-group col-xs-3">
                                <input type="text" name="auction" [(ngModel)] = "model.auction" placeholder="Auction" class="form-control" />
                             </div>
                             <div class="form-group col-xs-3">
                                <input type="text" name="adate" [(ngModel)] = "model.adate" placeholder="Auction Date" class="form-control" />
                             </div>
                             <div class="form-group col-xs-3">
                                <input type="text" name="pos" [(ngModel)] = "model.pos" placeholder="POS" class="form-control" />
                             </div>
                             <div class="form-group col-xs-3">
                                <input type="text" name="lot" [(ngModel)] = "model.lot" placeholder="LOT" class="form-control" />
                             </div>
                             <div class="form-group col-xs-3">
                                <input type="text" name="prefix" [(ngModel)] = "model.prefix" placeholder="Prefix" class="form-control" />
                             </div>                              
                             <div class="form-group col-xs-3">
                                <input type="text" name="make" [(ngModel)] = "model.make" placeholder="Make" class="form-control" />
                             </div>
                             <div class="form-group col-xs-3">
                                <input type="text" name="model" [(ngModel)] = "model.model" placeholder="Model" class="form-control" />
                             </div>                              
                             <div class="form-group col-xs-3">
                                <input type="text" name="noplate" [(ngModel)] = "model.noplate" placeholder="No Plate" class="form-control" />
                             </div>                               
                             <div class="form-group col-xs-3">
                                <input type="text" name="shaken" [(ngModel)] = "model.shaken" placeholder="Shaken" class="form-control" />
                             </div>
                             <div class="form-group col-xs-3">
                                <input type="text" name="fudosha" [(ngModel)] = "model.fudosha" placeholder="Fudosha" class="form-control" />
                             </div>
                             <div class="form-group col-xs-3">
                                <select class="form-control" id="orderstatus">
                                  <option value="0">Pending</option>
                                  <option value="1">Confirmed</option>
                                </select>
                             </div>                                               
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            <button class="btn btn-success" (click) = "SearchPurchased()">Search</button>
                            <button class="btn btn-danger" (click) = "ResetForm()">Reset</button>      
                          </div>
                      </div>
                </div>
            
            
                <div class="col-xs-12">
                  <div class="box">
                  <div class="box-header">
                    <h3 class="box-title">Yard Vehicles</h3>
                  </div>
                  <!-- /.box-header -->
                  <div class="box-body">
                    
                    <table id="example3" class="table">
                      <thead>
                      <tr>
                        <th></th>
                        <th>Sno</th>
                        <th>Client</th>
                        <th>Lot</th>
                        <th>Model</th>
                        <th>Year</th>
                        <th>Chassis</th>  
                        <th>Yard</th>      
                        <th>Port</th>
                        <th>Country</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let vehicle of VehicleList; let ind = index">
                        <td>
                          <label class="containerf">
                            <input type="checkbox" class="checkmarkS" (change) = "SelectList($event,vehicle.p_id)">
                            <span class="checkmark"></span>
                          </label>
                        </td>
                        <td>{{ind + 1}}</td>
                        <td>{{vehicle.client}}</td>
                        <td>{{vehicle.lot}}</td>
                        <td>{{vehicle.make}} - {{vehicle.model}}</td>
                        <td>{{vehicle.year}}</td>
                        <td>{{vehicle.prefix}}</td>
                        <td>{{vehicle.yardname}}</td>    
                        <td>{{vehicle.port}}</td>    
                        <td>{{vehicle.country}}</td>              
                      </tr>               
                      </tbody>       
                    </table>
                
                  </div>
                  <!-- /.box-body -->
                </div>
            <!-- /.box -->
            </div>
            </div>
            </section>
      </div>
      <div class="modal-footer">
          <button class="btn btn-success" data-dismiss="modal" (click) = "AddOrder(1)">Apply</button>
          <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



<section class="content">
  <div class="row">
    <div class="col-xs-12">

 <div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Add Transport Order</h3>
  </div>

  <form class="form-horizontal">
    <div class="box-body">
      <div class="form-group col-xs-6">
        <label class="col-sm-4 control-label">Order No.</label>

        <div class="col-sm-8">
          <input name="orderno" [(ngModel)] = "model.orderno" type="text" class="form-control" placeholder="Order No." disabled>
        </div>
      </div>
      <div class="form-group col-xs-6">
        <label class="col-sm-4 control-label">Order Date</label>

        <div class="col-sm-8">
            <div class="input-group date">
                <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                </div>
                <input name="bto" type="text" class="form-control pull-right" id="datepicker" placeholder="Order Date">
            </div>
        </div>  
      </div>
      <div class="form-group col-xs-6">
        <label class="col-sm-4 control-label">Pickup Date</label>

        <div class="col-sm-8">
            <div class="input-group date">
                <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                </div>
                <input name="bto1" type="text" class="form-control pull-right" id="datepicker1" placeholder="Pickup Date">
            </div>
        </div>  
      </div>           
    </div>
   
    <div class="box-footer text-center">
      <!--<button class="btn btn-danger" (click) = "NewOrder()">New Order</button>-->
      <button id="ordlist1" class="btn btn-black" data-toggle="modal" data-target="#modal-yard" (click) = "LoadVehicles()">Select Orders List (Yard)</button> 
      <button id="ordlist" class="btn btn-black" data-toggle="modal" data-target="#modal-warning" (click) = "LoadPurchased()">Select Orders List (Purchased)</button>     
    </div>
  </form>
  </div>
  </div>
  </div>
</section>

<section class="content container-fluid" id="orderLists">
  <div class="row">
    <div class="col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Order List</h3>
            </div>
      <table id="example2" class="table table-bordered">
        <thead>
        <tr>         
          <th>S.NO</th>
          <th>POS</th>          
          <th>DAI</th>
          <th>LOT #</th>
          <th>AUCTION DATE</th>
          <th>AUCTION</th>
          <th>PREFIX</th>                         
          <th>MAKE</th>
          <th>MODEL</th>          
          <th>NO PLATE</th> 
          <th>FUDOSHA</th>
          <th>DST</th>
          <th>CLIENT</th>
          <th>CURRENT LOCATION</th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of orderlists; let ind = index">
          <td>{{ind + 1}}</td>
          <td>{{list.pos}}</td>
          <td>{{list.dai}}</td>
          <td>{{list.lot}}</td>
          <td>{{list.adate | slice:0:10}}</td>
          <td>{{list.auction}}</td>
          <td>{{list.serial}}</td>
          <td>{{list.make}}</td>
          <td>{{list.model}}</td>
          <td>{{list.noplate}}</td>
          <td>{{list.fudosha}}</td>
          <td>{{list.dst}}</td>
          <td>{{list.client}}</td>
          <td>{{list.currentloc}}</td>
          <td>
            <button class="btn btn-black" (click) = "DeleteList(list.o_id, list.s_id)">Delete</button>
          </td>
        </tr>
      </tbody>
      </table>
    </div>
    </div>
  </div>
</section>

<section class="content container-fluid" id="yardtranscontainer">

    <div class="row">

        <div class="col-xs-6">
            <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Select Transporter
                      <button class="btn btn-danger" (click) = "newtransport()">Add Transport</button>
                  </h3>

                  <div class="quicksearch">
                    <input type="text" class="form-control" (keyup) = "FilterTransport($event)" placeholder="Quick Search"/>
                  </div>
                </div>
                <div class="tablecontainer">
                <table id="exampletransport" class="table table-bordered">
                  <thead>
                    <tr>         
                      <th></th>
                      <th class="text-center">No.</th>          
                      <th class="text-center">Transporter</th>
                      <th class="text-center">Contact</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let tc of tcompany; let ind = index">
                      <td class="text-center">
                        <button id="tcselect{{ind}}" class="btn btn-danger tcsel" (click) = "SelectTransport(tc.s_id, ind)">Select</button>
                      </td>
                      <td class="text-center">{{ind + 1}}</td>
                      <td>{{tc.sname}}</td>
                      <td class="text-center">{{tc.tel}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Select Drop Off Location
                      <button class="btn btn-danger" (click) = "newdropoff()">Add Dropoff</button>
                  </h3>

                  <div class="quicksearch">
                    <input type="text" class="form-control" (keyup) = "FilterDropoff($event)" placeholder="Quick Search"/>
                  </div>
                </div>
                <div class="tablecontainer">
                <table id="exampledropoff" class="table table-bordered">
                  <thead>
                    <tr>         
                      <th></th>
                      <th class="text-center">No.</th>          
                      <th class="text-center">Yards</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let yard of yards; let ind = index">
                      <td class="text-center">
                        <button id="yardselect{{ind}}" class="btn btn-danger yardsel" (click) = "SelectYard(yard.y_id, ind)">Select</button>
                      </td>
                      <td class="text-center">{{ind + 1}}</td>
                      <td>{{yard.name}}</td>
                    </tr>
                  </tbody>
                </table>
                </div>
            </div>
        </div>

    </div>

</section>