<section class="content">
  <div class="row">
  <div class="col-xs-12">
  
    <div id="summarybox" class="col-xs-6">
  
      <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Booking Detail</h3>
          </div>  
          
          <div class="box-body">
              <div class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Booking No</label>
    
                <div class="col-sm-12">
                  <p>{{model.bookingno}}</p>
                </div>
              </div>
    
              <div class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Yard</label>
    
                <div class="col-sm-12">
                  <p>{{model.yardname}}</p>
                </div>
              </div>
    
              <div class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Drainage Service
                    <span class="pull-right-container penciledit" (click) = "EditItem(1)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.drainageyard}}</p>
                </div>
              </div>
    
              <div class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Booking Agency</label>
    
                <div class="col-sm-12">
                  <p>{{model.bagency}}</p>
                </div>
              </div>
    
              <div class="form-group col-xs-12">
                <label class="col-sm-12 control-label">Route</label>
                  
                <div class="col-sm-12">
                  <p>{{model.vessel}} &nbsp;&nbsp; {{model.voyage}} &nbsp;&nbsp; {{model.origin}} &nbsp;&nbsp; {{model.etd}} &nbsp;&nbsp; {{model.dest}} &nbsp;&nbsp; {{model.eta}}</p>
                </div>
              </div>
    
              <div class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Shipment Type  
                  <span class="pull-right-container penciledit" (click) = "EditItem(2)">
                    <i class="fa fa-pencil pull-right"></i>
                </span></label>                 
    
                <div class="col-sm-12">
                  <p>{{model.shipmenttype}}
                  <span *ngIf="model.shipmenttype == 'CONTAINER'">{{model.contype}}</span>   </p>               
                </div>
              </div>

              <div *ngIf="model.shipmenttype == 'CONTAINER'" class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Cargo Type
                    <span class="pull-right-container penciledit" (click) = "EditItem(3)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.cargotype}}</p>                  
                </div>
              </div>

              <div *ngIf="model.shipmenttype == 'CONTAINER'" class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Condition Type
                    <span class="pull-right-container penciledit" (click) = "EditItem(4)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.conditiontype}}</p>
                </div>
              </div>

              <div class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Confirmed On
                    <span class="pull-right-container penciledit" (click) = "EditItem(5)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.confirmedon}}</p>
                </div>
              </div>

              <div class="form-group col-xs-6">
                <label *ngIf="model.shipmenttype == 'CONTAINER'" class="col-sm-12 control-label">Qty
                    <span class="pull-right-container penciledit" (click) = "EditItem(6)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>

                <label *ngIf="model.shipmenttype == 'RORO'" class="col-sm-12 control-label">Reserved
                    <span class="pull-right-container penciledit" (click) = "EditItem(6)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.qty}}</p>
                </div>
              </div>

              <div *ngIf="model.shipmenttype == 'CONTAINER'" class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Yard Open
                    <span class="pull-right-container penciledit" (click) = "EditItem(7)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.yardopen}}</p>
                </div>
              </div>

              <div class="form-group col-xs-12">
                <label *ngIf="model.shipmenttype == 'RORO'" class="col-sm-12 control-label">Final Destination
                    <span class="pull-right-container penciledit" (click) = "EditItem(8)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>

                <label *ngIf="model.shipmenttype == 'CONTAINER'" class="col-sm-12 control-label">Container Yard Address
                    <span class="pull-right-container penciledit" (click) = "EditItem(8)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.address}}</p>
                </div>
              </div>

              <div *ngIf="model.shipmenttype == 'RORO'" class="form-group col-xs-12">
                <label class="col-sm-12 control-label">Penalty Free Ammendment
                    <span class="pull-right-container penciledit" (click) = "EditItem(9)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.penaltyfree}}</p>
                </div>
              </div>

              <div class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Document Cut Off
                    <span class="pull-right-container penciledit" (click) = "EditItem(10)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.dco}}</p>
                </div>
              </div>

              <div class="form-group col-xs-6">
                <label *ngIf="model.shipmenttype == 'RORO'" class="col-sm-12 control-label">Entry Cut Off
                    <span class="pull-right-container penciledit" (click) = "EditItem(11)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>

                <label *ngIf="model.shipmenttype == 'CONTAINER'" class="col-sm-12 control-label">Yard Cut Off
                    <span class="pull-right-container penciledit" (click) = "EditItem(11)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.yco}}</p>
                </div>
              </div>

              <div class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Detention Free time
                    <span class="pull-right-container penciledit" (click) = "EditItem(12)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.dft}}</p>
                </div>
              </div>

              <div class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Demurrage Free time
                    <span class="pull-right-container penciledit" (click) = "EditItem(13)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.dmft}}</p>
                </div>
              </div>

              <div class="form-group col-xs-12">
                <label class="col-sm-12 control-label">Freight Rates
                    <span class="pull-right-container penciledit" (click) = "EditItem(14)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>S.No.</th>
                        <th>Freight</th>
                        <th>Unit</th>
                        <th>Currency</th>
                        <th *ngIf="model.shipmenttype == 'RORO'">Validity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of frieght; let ind = index">
                        <td>{{ind + 1}}</td>
                        <td>{{item.freight}}</td>
                        <td>{{item.unit}}</td>
                        <td>{{item.currency}}</td>
                        <td *ngIf="model.shipmenttype == 'RORO'">{{item.ranges}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="form-group col-xs-12">
                <label class="col-sm-12 control-label">Payment Terms
                    <span class="pull-right-container penciledit" (click) = "EditItem(15)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                   <table class="table">                    
                    <tbody>
                      <tr *ngFor="let item of payment">
                        <td>{{item.charge}}</td>
                        <td>{{item.selectopt}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Required Inspection
                    <span class="pull-right-container penciledit" (click) = "EditItem(16)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <p>{{model.inspection}}</p>
                </div>
              </div>

              <div class="form-group col-xs-6">
                <label class="col-sm-12 control-label">Booking Reciept
                    <span class="pull-right-container penciledit" (click) = "EditItem(17)">
                        <i class="fa fa-pencil pull-right"></i>
                    </span></label>
    
                <div class="col-sm-12">
                  <a *ngIf="model.reciepturl != ''" target="_blank" href="{{model.reciepturl}}">View</a>
                </div>
              </div>

              
          </div>
    
         <!-- <div *ngIf="divId == maxdivId" class="box-footer text-right">
            <button class="btn btn-black" (click) = "ResetForm()">Reset</button>
            <button class="btn btn-danger" (click) = "SaveForm()">Submit</button>      
          </div>-->
      </div>
    
    </div>
  
  
    <div id="yardup" class="col-xs-6">
  
        <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Booking</h3>
            </div>
            
          <div class="box-body">
    
            <div id="next1" class="nextgroup">
               <div class="form-group col-xs-12">
                <label class="col-sm-4 control-label">Drainage Service Yard</label>
    
                <div class="col-sm-8">
                  <select id="drainage" class="form-control" value="{{model.drainageyard}}">
                    <option *ngFor="let item of drainageyards" value="{{item.y_id}}">{{item.yardname}}</option>
                  </select>
                </div>
              </div>
            </div>
    
            <div id="next2" class="nextgroup">                
               <div class="form-group col-xs-12">
                 <label class="col-sm-4 control-label">Container Type</label>
     
                 <div class="col-sm-8">
                   <select id="contype" value="{{model.contype}}" class="form-control">
                     <option value="40FTHQ">40FTHQ</option>
                     <option value="20FTHQ">20FTHQ</option>
                     <option value="40FT">40FT</option>
                   </select>
                 </div>
               </div>
            </div>

            <div id="next3" class="nextgroup">
  
                <div class="col-xs-12">
                  <p class="wtmargin"><b>Cargo Types</b></p>
                  <hr  class="wtmargin"/>
                  <div id="portsum" class="col-sm-12">
                    <table class="table">
                      <tr *ngFor="let p of model.cargotable; let ind = index;">
                          <td>{{ind + 1}}</td>
                          <td>{{p}}</td>
                          <td><span class="penciledit" (click) = "DeleteCargoType(p)">
                              <i class="fa fa-trash pull-right"></i>
                          </span></td>
                      </tr>
                    </table>
                    
                  </div>
                </div>
      
                <div class="col-xs-12">
                  <p><b>Add Cargo Types</b></p>
                  <hr/>
                </div>
      
                <div class="tabcontainer col-xs-12">
                <table class="table table-bordered table-striped text-center">
                  <thead>
                    <tr>
                    <th>S.No.</th>
                    <th>Cargo Type</th>
                    <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pt of model.cargolist; let ind = index">
                    <td>{{ind + 1}}</td>
                    <td>{{pt}}</td>
                    <td>
                      <button class="btnself btn-danger" (click) = "AddCargoType($event, pt)">Select</button>      
                    </td>
                    </tr>
                  </tbody>
                </table>
                </div>
            </div>

            <div id="next4" class="nextgroup">
  
                <div class="col-xs-12">
                  <p class="wtmargin"><b>Condition Types</b></p>
                  <hr  class="wtmargin"/>
                  <div id="portsum" class="col-sm-12">
                    <table class="table">
                      <tr *ngFor="let p of model.conditiontable; let ind = index;">
                          <td>{{ind + 1}}</td>
                          <td>{{p}}</td>
                          <td><span class="penciledit" (click) = "DeleteConditionType(p)">
                              <i class="fa fa-trash pull-right"></i>
                          </span></td>
                      </tr>
                    </table>
                    
                  </div>
                </div>
      
                <div class="col-xs-12">
                  <p><b>Add Condition Types</b></p>
                  <hr/>
                </div>
      
                <div class="tabcontainer col-xs-12">
                <table class="table table-bordered table-striped text-center">
                  <thead>
                    <tr>
                    <th>S.No.</th>
                    <th>Condition</th>
                    <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let pt of model.conditionlist; let ind = index">
                    <td>{{ind + 1}}</td>
                    <td>{{pt}}</td>
                    <td>
                      <button class="btnself btn-danger" (click) = "AddConditionType($event, pt)">Select</button>      
                    </td>
                    </tr>
                  </tbody>
                </table>
                </div>
            </div>
    
            <div id="next5" class="nextgroup">    
              <div class="form-group col-xs-12">
                <label class="col-sm-4 control-label">Confirmed On</label>
    
                <div class="col-sm-8">
                  <div class="input-group date">
                      <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                      </div>
                      <input id="bco" name="bco" type="text" class="form-control pull-right" placeholder="Booking Confirmed On">
                  </div>
                </div>
              </div>              
            </div>

            <div id="next6" class="nextgroup">    
              <div class="form-group col-xs-12">
                <label class="col-sm-4 control-label">Confirmed On</label>
    
                <div class="col-sm-8">
                  <input name="qty" [(ngModel)] = "model.qty" type="number" class="form-control" placeholder="Enter Qty">
                </div>
              </div>              
            </div>
    
            <div id="next7" class="nextgroup">    
              <div class="form-group col-xs-12">
                <label class="col-sm-4 control-label">Yard Open</label>
    
                <div class="col-sm-8">
                  <div class="input-group date">
                      <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                      </div>
                      <input id="yopen" name="yopen" type="text" class="form-control pull-right" placeholder="Yard Open">
                  </div>
                </div>
              </div>              
            </div>
            
            <div id="next8" class="nextgroup">    
              <div class="form-group col-xs-12">
                <label *ngIf="model.shipmenttype == 'CONTAINER'" class="col-sm-4 control-label">Yard Address</label>
                <label *ngIf="model.shipmenttype == 'RORO'" class="col-sm-4 control-label">Final Destination</label>
    
                <div class="col-sm-8">
                  <input name="address" [(ngModel)] = "model.address" type="text" class="form-control" placeholder="Enter Address">
                </div>
              </div>              
            </div>

            <div id="next9" class="nextgroup">    
              <div class="form-group col-xs-12">
                <label class="col-sm-4 control-label">Penalty Free Ammendment</label>
    
                <div class="col-sm-8">
                  <select id="pfree" value="{{model.penaltyfree}}" class="form-control">
                     <option value="N/A">N/A</option>
                     <option value="Untill Arrival">Untill Arrival</option>
                  </select>
                </div>
              </div>              
            </div>

            <div id="next10" class="nextgroup">    
              <div class="form-group col-xs-12">
                <label class="col-sm-4 control-label">Document Cut Off</label>
    
                <div class="col-sm-8">
                  <div class="input-group date">
                      <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                      </div>
                      <input id="dco" name="dco" type="text" class="form-control pull-right" placeholder="Document Cut Off">
                  </div>
                </div>
              </div>              
            </div>

            <div id="next11" class="nextgroup">    
              <div class="form-group col-xs-12">
                  <label *ngIf="model.shipmenttype == 'CONTAINER'" class="col-sm-4 control-label">Yard Cut Off</label>
                  <label *ngIf="model.shipmenttype == 'RORO'" class="col-sm-4 control-label">Entry Cut Off</label>
      
    
                <div class="col-sm-8">
                  <div class="input-group date">
                      <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                      </div>
                      <input id="co" name="co" type="text" class="form-control pull-right" placeholder="Cut Off">
                  </div>
                </div>
              </div>              
            </div>

            <div id="next12" class="nextgroup">    
              <div class="form-group col-xs-12">
                <label class="col-sm-4 control-label">Detention Free Time</label>
    
                <div class="col-sm-8">
                  <input name="dft" [(ngModel)] = "model.dft" type="text" class="form-control" placeholder="Enter Detention Free Time">
                </div>
              </div>              
            </div>

            <div id="next13" class="nextgroup">    
              <div class="form-group col-xs-12">
                <label class="col-sm-4 control-label">Demurrage Free Time</label>
    
                <div class="col-sm-8">
                  <input name="dmft" [(ngModel)] = "model.dmft" type="text" class="form-control" placeholder="Enter Demurrage Free Time">
                </div>
              </div>              
            </div>

             <div id="next14" class="nextgroup">
  
                <div class="col-xs-12">
                  <p class="wtmargin"><b>Freight Rates</b></p>
                  <hr  class="wtmargin"/>
                  <div id="freightsum" class="col-sm-12">
                    <table class="table">
                      <tr *ngFor="let p of frieght; let ind = index;">
                          <td>{{ind + 1}}</td>
                          <td>{{p.freight}}</td>
                          <td>{{p.unit}}</td>
                          <td>{{p.currency}}</td>
                          <td *ngIf="model.shipmenttype == 'RORO'">{{p.ranges}}</td>
                          <td><span class="penciledit" (click) = "DeleteFreight(p.bf_id)">
                              <i class="fa fa-trash pull-right"></i>
                          </span></td>
                      </tr>
                    </table>
                    
                  </div>
                </div>
      
                <div class="col-xs-12">
                  <p><b>Add Freight Rate</b></p>
                  <hr/>
                </div>
      
                <div *ngIf="model.shipmenttype == 'CONTAINER'" class="tabcontainer col-xs-12">
                  <div class="col-sm-12">
                    <div class="col-xs-4">
                      <input name="freight1" id="freight1" type="text" class="form-control" placeholder="Freight">
                    </div>
                    <div class="col-xs-4">
                      <input name="txt1" id="txt1" type="text" placeholder="Unit" class="form-control">
                    </div>
                    <div class="col-xs-4">
                      <input name="curr1" id="curr1" type="text" placeholder="Currency" class="form-control">
                    </div>
                    <br/><br/>
                  </div>
                </div>

                <div *ngIf="model.shipmenttype == 'RORO'" class="tabcontainer col-xs-12">
                  <div class="morespace">
                    <div class="col-sm-12">
                      <div class="col-xs-2">
                        <input name="freight1" id="freight1" type="text" class="form-control" placeholder="Freight">
                      </div>
                      <div class="col-xs-2">
                        <select class="form-control" id="txt1">
                          <option value="m3">m3</option>
                          <option value="unit">unit</option>
                        </select>
                      </div>
                      <div class="col-xs-2">
                        <select class="form-control" id="curr1">
                          <option value="JPY">JPY</option>
                          <option value="NZD">NZD</option>
                          <option value="USD">USD</option>
                        </select>
                      </div>
                      <div class="col-xs-1">
                        <span></span>
                      </div>
                      <div class="col-xs-2">
                        <input name="rangeu1" id="rangeu1" type="text" class="form-control" placeholder="m3 Range - From">
                      </div>
                      <div class="col-xs-1 text-center">
                        <p>TO</p>
                      </div>
                      <div class="col-xs-2">
                        <input name="ranged1" id="ranged1" type="text" class="form-control" placeholder="m3 Range - To">
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div id="next15" class="nextgroup">
              <div *ngFor="let item of payment; let ind = index;" class="form-group col-xs-12">
                <label class="col-sm-4 control-label">{{item.charge}}</label>
    
                <div class="col-sm-8">
                  <select class="form-control" id="charge{{item.bp_id}}" value="{{item.selectopt}}">
                    <option value="N/A">N/A</option>
                    <option value="Collect">Collect</option>
                    <option value="Prepaid">Prepaid</option>
                  </select>
                </div>
              </div>
            </div>

            <div id="next16" class="nextgroup">
               <div class="form-group col-xs-12">
                <label class="col-sm-4 control-label">Required Inspections</label>
    
                <div class="col-sm-8">
                  <select id="inspections" class="form-control" value="{{model.inspection}}">
                    <option *ngFor="let item of inspections" value="{{item.ins_id}}">{{item.iname}}</option>
                  </select>
                </div>
              </div>
            </div>

            <div id="next17" class="nextgroup">
               <div class="form-group col-xs-12">
                <label class="col-sm-4 control-label">Booking Confirmation Reciept</label>
    
                <div class="col-sm-8">
                  <input id="fileInput" type="file" (change)="UploadFile($event)" placeholder="Upload file">
                </div>
              </div>
            </div>
    
          </div>
    
          <div *ngIf="ValSelect != 17" class="box-footer text-right">
            <button class="btn btn-danger" (click) = "Save()">Save</button>      
          </div>
        </div>  
    
    </div>
  </div>
  </div>
  </section>
  
  