<div class="container-fluid">
  <div class="row col-md-12 custyle">
    <h3><i class="fa fa-search fa-fw"></i>Saved Search</h3>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
          <th>Action</th>
          <th>Name</th>
          <th>Day</th>
          <th>Auction</th>
          <th>Make</th>
          <th>Model</th>
          <th>Chassis</th>
          <th>Grade</th>
          <th>Mileage</th>
          <th>CC</th>
          <th>Year</th>
          <th>Price</th>
          <th>Lot</th>
          <th>Min Lot - Max Lot</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>