<section class="content">
  <div class="row">
    <div class="col-xs-12">
<!-- Horizontal Form -->
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Client Details</h3>
  </div>
  <!-- /.box-header -->

  <div class="box-body">      
    <div class="col-xs-12">
      <table>
        <tr>
          <td>Name</td>
          <td>{{name}}</td>
          <td>Address</td>
          <td>{{address}}</td>
        </tr>
        <tr>
          <td>Mobile No.</td>
          <td>{{mob}}</td>
          <td>Email Address</td>
          <td>{{email}}</td>
        </tr>       
      </table>
    </div>    
   
  </div>

  <div class="box-footer text-center">
    <button class="btn btn-danger" (click) = "EditClient()">Edit</button>
    <button class="btn btn-black" (click) = "ReturnBack()">Go Back</button>      
  </div>

</div>
<!-- /.box -->
</div>
</div>
</section>

