<section class="content">

<div class="row">
  <div class="col-md-12 form-group">
    <div class="col-md-2">
        <label class="form-control">Select Country</label>
    </div>
    <div class="col-md-4">      
      <select class="form-control" (change) = "SelectCountry($event)" id="cntry">
        <option value="">Select Country</option>
        <option *ngFor="let country of Countries" value="{{country.name}}">{{country.name}}</option>
      </select>
    </div>
  </div>
</div>
  
<div class="row" *ngIf="selectedCountry != ''">
  <div class="col-sm-4 form-group">
    <select class="form-control" id="apimakes">
        <option *ngFor="let item of Makes" value="{{item.MARKA_NAME}}">{{item.MARKA_NAME}}</option>
    </select>
  </div>
  <div class="col-sm-4 form-group">
    <button class="btn btn-danger form-control" (click) = "Addmake()">Add Popular</button>
  </div>
  <div class="col-sm-4 form-group">
    <button class="btn btn-black form-control" (click) = "Addother()">Add Other</button>
  </div>
</div>

<div class="row" *ngIf="selectedCountry != ''">
  <div class="col-sm-4">
    <label>Popular Makes List - {{selectedCountry}}</label>
    <ul class="list-group sortable" [sortablejs]="normalList2">
      <li class="list-group-item" *ngFor="let item of normalList2; let cnt = index">{{ item }} <a (click) = "RemoveList(cnt)">Remove</a></li>
    </ul>
  </div>
  <div class="col-sm-4">
    <label>Other Makes List - {{selectedCountry}}</label>
    <ul class="list-group sortable" [sortablejs]="normalList1">
      <li class="list-group-item" *ngFor="let item of normalList1; let cnt = index">{{ item }} <a (click) = "RemoveList1(cnt)">Remove</a></li>
    </ul>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-danger form-control" (click) = "SendMake()">Save</button>
  </div>
</div>

</section>
