<section class="content">
  <div class="row">

    <div class="col-xs-12">
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Yard Services</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    
    <table id="example1" class="display table table-bordered table-striped">
      <thead>
      <tr>
        <th>Sno</th>
        <th>Yard Service</th>
        <th>Registered By</th>
        <th>Approval</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pt of pendingservices; let ind = index">
        <td>{{ind + 1}}</td>
        <td>{{pt.servicename}}</td>
        <td>{{pt.generatedby}}</td>       
        <td><label class="switch">
          <input type="checkbox" [attr.checked]="pt.approval == '1' ? 'checked' : null" (change) = "UpdateStatus($event,pt.ys_id)">
          <span class="slider round"></span>
        </label></td>
      </tr>               
      </tbody>       
    </table>
 
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
</div>
</div>
</section>