<div class="container">
    <section id="content_body">
      <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h3><i class="fa fa-money fa-fw"></i>Purchased List</h3>
            </div>
          <div class="col-md-8">
                <div class="panel with-nav-tabs panel-primary">
                        <div class="panel-heading">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab1primary" data-toggle="tab">My List</a></li>
                                    
                                   <!--  <li class="dropdown">
                                        <a href="#" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#tab4primary" data-toggle="tab">Primary 4</a></li>
                                            <li><a href="#tab5primary" data-toggle="tab">Primary 5</a></li>
                                        </ul>
                                    </li> -->
                                </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1primary">
                                    <h3 id="errormsga">No records found.</h3>
                                    <div class="container-fluid" id="csl{{cnt}}" *ngFor="let bids of myData;let cnt = index">
                                        <div class="row">
                                            <div class="col-md-12 topspace shadowbox">
                                                    <div class="carlistbox">
                                                    <a href="#"><div class="col-md-3 clbox">
                                                        <div class="zoomer">         
                                                           <img class="img-responsive" [attr.src]="bids.img" onError="this.src='./assets/Nilimage2.jpg';"/>
                                                           </div>
                                                    </div></a>
                                                    <div class="col-md-9 clbox">  
                                                        <a href="#"><div class="col-md-10">
                                                            <h4>{{bids.model}}</h4>
                                                            <span class="badge badge-danger" style="background:#285363;margin-bottom:10px;">Lot# {{bids.lot}}</span>
                                                            <span class="badge badge-primary" style="background:#285363;margin-bottom:10px;">{{bids.make}}</span>
                                                        </div> 
                                                        <div class="col-md-2">
                                                            <div class="text-center">
                                                            <h6 class="mainprice"><i class="fa fa-check-circle-o"></i>&nbsp;&nbsp;Purchased</h6>
                                                            </div>
                                                        </div>                            
                                                       
                                                        </a>     
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                              
                                                                <button [routerLink]="['/prodetail', bids.prodid]" type="button" class="btn btn-warning" id="viewbtn">View</button>
                                                        </div>      
                                                    </div>
                                                </div>
                                                <div class="card card-body">
                                                        
                                                       
                                                       
    
                                                        <div class="col-md-4 featurebox">
                                                                <table class="table">
                                                                  <tr>
                                                                    <td class="detailHeadin"><i class="fa fa-key fa-fw"></i>&nbsp;&nbsp;&nbsp;Model Year</td>
                                                                    <td align="right" class="auctVenu">{{bids.year}}</td>
                                                                  </tr>
                                                                </table>
                                                        </div>
                                                        <div class="col-md-4 featurebox">
                                                                <table class="table">
                                                                  <tr>
                                                                    <td class="detailHeadin"><i class="fas fa-yen-sign"></i>&nbsp;&nbsp;&nbsp;Bid Amount</td>
                                                                    <td align="right" class="auctVenu">{{bids.bidamt}}</td>
                                                                  </tr>
                                                                </table>
                                                        </div>
                                                        <div class="col-md-4 featurebox">
                                                                <table class="table">
                                                                  <tr>
                                                                    <td class="detailHeadin"><i class="fas fa-yen-sign"></i>&nbsp;&nbsp;&nbsp;Starting Price</td>
                                                                    <td align="right" class="auctVenu">¥ {{bids.startprice}}</td>
                                                                  </tr>
                                                                </table>
                                                        </div>
                                                       
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
          </div>
          <div class="col-md-4"></div>
      </div>
      </div>
     </section>
    </div>