<div class="smallLoader">
  <div class="smallDiv">
    <img src="./../../../assets/img/ajaxloader.gif" class="img-responsive smallGif"/>
  </div>
</div>

<div class="content-wrapper">
  <!-- Content Header (Page header)
  <section class="content-header">
    <h1>
      Page Header
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section> -->

  <!-- Main content --> 

  <div class="alert alert-success alert-dismissible" id="suc_msg">      
      <h4><i class="icon fa fa-check"></i><span id="msgsuccess">Alert!</span></h4>
  </div>

  <div class="alert alert-danger alert-dismissible" id="dan_msg">      
      <h4><i class="icon fa fa-ban"></i><span id="msgalert">Alert!</span></h4>
  </div>

  <router-outlet></router-outlet>

</div>
